@charset "UT-8";

div.login {
    width: 650px;
    height: 450px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div.form {
    width: 54%;
    margin: auto;
}

div.imagem {
    height: 100%;
}

div.key, div.user, form > input[type=button], form > input[type=submit] {
    width: 100%;
}
