@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
    background-color: darkgray;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

header h1 {
    padding-bottom: 30px;
}

span#burguer {
    background-color: rgb(44, 44, 44);
    padding: 15px;
    display: block;
    color: white;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

header li {
    list-style-type: none;
    padding: 10px;
    background-color: gray;
    border-top: 1px solid darkgray;
   
}

header li:hover {
    background-color: rgba(71, 68, 68, 0.24);
}

header  a {
    color: white;
    text-decoration: none;
    padding: 10px 10px 0px 10px;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 90vw;
    border: 1px solid darkgray;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.8em;
}

main h2 {
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (min-width:768px) {

    header  li {
    display: inline-block;
    background-color: gray;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    }
    span#burguer {
        display: none;
    }

    menu {
        display: block !important;
    }

    main {
        width: 70vw;
    }
    
}
