@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    line-height: 1.6em;
}

header {
    padding: 15px;
}

h2 {
    padding-bottom: 10px;
}

section.container1, section.container2 {
    background-color: lightgray;
    width: 100%;
    margin: auto;
    padding: 0px 15px;
    display: flex;
    flex-flow: column nowrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
}

aside.as1, aside.as3 {
    border: 2px dashed red; 
    flex: 1 1 500px;
}

aside.as2, aside.as4 {
    border: 2px dashed blue;
    flex: 1 0 400px;
}

aside.as4 {
    height: 380px;
}

img {
    width: 100%;
    height: 100%;
}

iframe {
    padding: 10px;
    width: 100%;
    height: 100%;
}

aside.final {
    padding: 15px;
}


