@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #A68F49;
    position: relative;
}

main {
    background-color: white;
    max-width: 768px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.377);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

img {
    width: 100%;   
}

section.inp {
    padding: 15px;
}

section h1 {
    text-align: center;
    padding-bottom: 10px;
}

legend {
    text-align: center;
    padding-bottom: 15px;
}

p {
    text-align: center;
}

input.login {
    width: 230px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 7px;
}

input#esqueci {
    background-color: #2620015d;
    color: #262001;
}

input#esqueci:hover {
    background-color: #73672f9c;
    color: #262001;
}

input.botoes {
    background-color: #262001;
    color: white;
    width: 230px;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 7px;
}

input.botoes:hover {
    background-color: #73672F ;
}




