@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url('../imagens/escritorio-fundo.jpg') black center center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#computador {
    background: url('../imagens/frame-iphone.png') no-repeat;
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe.tela {
    position: relative;
    top: 13%;
    left: 7%;
    width: 268px;
    height: 471px;
}

a {
    display: block;
    margin-left: 10px;
    padding: 15px;
    text-align: right;
}

a > img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}